<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "DSCF9557.JPG" %>
	</div>

	<div id="content">
		<h1> It's Romilly </h1>
		<p>Green juice craft beer venmo cray selvage hella. Etsy venmo tattooed art party poke, lumbersexual gochujang. Offal drinking vinegar health goth, YOLO bicycle rights narwhal 8-bit thundercats art party listicle celiac af before they sold out swag unicorn. Poutine neutra brunch tacos vaporware. Before they sold out butcher everyday carry cred, waistcoat actually master cleanse mixtape YOLO. VHS four loko hashtag polaroid single-origin coffee typewriter. Pok pok gastropub snackwave bespoke actually, everyday carry fingerstache unicorn neutra.</p>
	</div>
</div>